html, body {
  height: 100%;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7em;
  color: $default;
  overflow-x: hidden;
  min-width: 20em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 71em;
  margin: 0 auto;
  padding: 0 .9px;

}

.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    li{
      margin: 0 1em;
    }
    button{
      background-color: $title;
      border: none;
      width: .5em;
      height: .5em;
      border-radius: 50%;
      padding: 0;      
    }
    li.slick-active{
      button{
       background-color: #FFEF35;
      }
    }
}
.slick-dots li button {
  text-indent: -9999px;
}